 .coin-info-desc{
    padding-bottom: 0.5rem;
    cursor: pointer;
 }

 .coin-info-heading{
    padding-top: 1rem;
 }
 
 .coin-info-desc a{
    color: var(--grey) !important;
    text-decoration: underline !important;
 }

 .coin-info-desc a:hover{
    color: var(--blue) !important;
 }