.grid-container {
    width: 300px;
    height: 300px;
    background-color: var(--darkgrey);
    border: 2px solid var(--darkgrey);
    border-radius: 1em;
}

.grid-container:hover{
    border-color: var(--green);
    transition: all 0.3s;
}

.grid-container-red:hover{
    border-color: var(--red) !important;
    transition: all 0.3s;
}

.info-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    margin: 1rem;
}

.coin-logo {
    height: 3.5rem;
    width: 3.5rem;
}

.name-col {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.coin-symbol {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
}

.coin-name {
    color: var(--grey);
    text-transform: capitalize;
    font-weight: light;
    font-size: 1rem;
    margin: 0;
}

.chip-flex {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
}

.price-chip {
    border: 2px solid var(--green);
    border-radius: 2rem;
    padding: 0.35rem 1.25rem;
    text-align: center;
    font-weight: 600;
    color: var(--green);
    font-size: 1.1rem;
    min-width: 65px;
}

.icon-chip {
    border: 2px solid var(--green);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--green);
    font-size: 1.1rem;
}

.price-chip:hover,
.icon-chip:hover {
    background-color: var(--green);
    color: var(--white);
    transition: all 0.3s;
}

.chip-red {
    border: 2px solid var(--red) !important;
    color: var(--red) !important;
}

.chip-red:hover {
    background-color: var(--red) !important;
    color: var(--white) !important;
    transition: all 0.3s;
}

.info-container {
    margin: 1.5rem;
}

.coin-price{
    color: var(--green); 
    font-weight: 600;
    font-size: 1.2rem;
}

.total_volume{
    color: var(--grey);
    font-size: 0.8rem;
    font-weight: 500 ;
}

.cointainer-flex{
    display: flex;
    justify-content:space-between;
    gap: 4rem;
    align-items: center;
}
